/* Resets */
body {
  padding: 50px;
  color: #333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a,
a:visited,
a:link,
a:hover {
  color: inherit;
  text-decoration: none; }

/* Mixins */
.btn-primary,
a.btn-primary {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 5px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff; }
  .btn-primary:active,
  a.btn-primary:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-primary:hover, .btn-primary:active,
  a.btn-primary:hover,
  a.btn-primary:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }

.btn-danger,
a.btn-danger {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 5px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff; }
  .btn-danger:active,
  a.btn-danger:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-danger:hover, .btn-danger:active,
  a.btn-danger:hover,
  a.btn-danger:active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }

ul.dashed {
  margin: 0;
  padding: 5px;
  list-style: none; }
  ul.dashed > li {
    text-indent: -5px; }
    ul.dashed > li:before {
      content: "- ";
      text-indent: -5px; }
  ul.dashed a:hover {
    text-decoration: underline; }

/* Header */
h1 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1; }

.description {
  font-size: 1.3em; }

/* Contact List */
.contact-list {
  padding: 0; }
  .contact-list li {
    list-style: none; }

.contact-item {
  display: block;
  padding: 8px 0;
  border-top: 1px solid #ddd;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.28571429;
  vertical-align: top; }
  .contact-item:hover {
    background-color: #f5f5f5;
    cursor: pointer; }

.email {
  display: block;
  color: #777;
  font-size: 1rem;
  font-weight: normal; }

/* Contact Form */
h2 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.1; }

.contact-form {
  width: 35%; }
  .contact-form label {
    display: inline-block;
    width: 60px;
    margin-bottom: 5px;
    font-weight: 700; }
  .contact-form input {
    display: block;
    width: 100%;
    height: 2.125rem;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-size: 1rem;
    line-height: 1.42857143;
    vertical-align: middle;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .contact-form input:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
