/* Resets */
body {
  padding: 50px;
  color: #333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a,
a:visited,
a:link,
a:hover {
  color: inherit;
  text-decoration: none; }

/* Mixins */
/* General styles */
.btn-primary,
a.btn-primary {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 5px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff; }
  .btn-primary:active,
  a.btn-primary:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-primary:hover, .btn-primary:active,
  a.btn-primary:hover,
  a.btn-primary:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }

.btn-danger,
a.btn-danger {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 5px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff; }
  .btn-danger:active,
  a.btn-danger:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-danger:hover, .btn-danger:active,
  a.btn-danger:hover,
  a.btn-danger:active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }

ul.dashed {
  margin: 0;
  padding: 5px;
  list-style: none; }
  ul.dashed > li {
    text-indent: -5px; }
    ul.dashed > li:before {
      content: "- ";
      text-indent: -5px; }

.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transform: rotate(180deg); }

/* Header */
h1 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1; }
  h1 a:hover {
    color: #000;
    text-shadow: 1px 1px #ccc; }

.description {
  font-size: 1.2rem; }
  .description a:hover {
    text-decoration: underline; }

.small {
  font-size: 1rem; }

.app-container {
  width: 580px;
  min-width: 580px; }

.actions {
  float: right;
  margin-top: -55px; }

/* Contact List */
ul.contact-list {
  padding: 0; }
  ul.contact-list li {
    list-style: none; }

table.contact-list {
  width: 100%; }
  table.contact-list .identity {
    min-width: 160px; }
  table.contact-list .name {
    min-width: 200px; }

.contact-list {
  width: 100%;
  font-size: 1rem;
  line-height: 1.28571429;
  vertical-align: top; }
  .contact-list .bold {
    font-weight: 600; }

.contact-heading {
  display: block;
  padding: 8px 0;
  border-top: 1px solid transparent; }
  .contact-heading .identity {
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold; }
    .contact-heading .identity:hover {
      cursor: pointer;
      color: #000;
      text-shadow: 1px 1px #ccc; }
  .contact-heading .name {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 500; }
    .contact-heading .name:hover {
      cursor: pointer;
      color: #000;
      text-shadow: 1px 1px #ccc; }
  .contact-heading .email {
    text-align: left;
    color: #333;
    font-size: 1.125rem;
    font-weight: 500; }

.contact-item {
  display: block;
  padding: 8px 0;
  border-top: 1px solid #ddd; }
  .contact-item:hover {
    background-color: #f5f5f5;
    cursor: pointer; }

.email {
  color: #777;
  font-size: 1rem;
  font-weight: normal; }

/* Contact Form */
h2 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.1; }

.contact-form {
  width: 35%; }
  .contact-form label {
    display: inline-block;
    width: 60px;
    margin-bottom: 5px;
    font-weight: 700; }
  .contact-form input {
    display: block;
    width: 100%;
    height: 2.125rem;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-size: 1rem;
    line-height: 1.42857143;
    vertical-align: middle;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .contact-form input:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
