<div class="actions">
    <a class="btn-primary" ng-href="contacts/new">New Contact</a>
    <div class="search-box">
        <input type="text" ng-model="searchText" class="search-input" placeholder="Search" />
        <button class="search-btn" type="button"><span class="search-icon"></span></button>
    </div>
</div>
<table class="contact-list">
    <tr class="contact-heading">
        <th class="identity" ng-click="sortType='identity'; sortReverse=!sortReverse" ng-class="{bold: sortType=='identity'}">
            Identity
            <span class="caret-down" ng-show="sortType=='identity' && !sortReverse"></span>
            <span class="caret-up" ng-show="sortType=='identity' && sortReverse"></span>
        </th>
        <th class="name" ng-click="sortType='name'; sortReverse=!sortReverse" ng-class="{bold: sortType=='name'}">
            Name
            <span class="caret-down" ng-show="sortType=='name' && !sortReverse"></span>
            <span class="caret-up" ng-show="sortType=='name' && sortReverse"></span>
        </th>
        <th class="email">Email</th>
    </tr>
    <tr ng-repeat="c in contacts | orderBy:sortType:sortReverse | filter: searchText" ng-click="showContact(c.id)" class="contact-item">
        <td class="identity" ng-class="{bold: sortType=='identity'}">{{c.identity}}</td> 
        <td class="name" ng-class="{bold: sortType=='name'}">{{c.name}}</td>
        <td class="email">{{c.email}}</td>
    </tr>
</table>