<section class="contact-form">
    <h2>{{contact.identity}} - {{contact.name}}</h2>
    <p><label>Identity: </label> <input placeholder="Identity" ng-model="contact.identity" /></p>
    <p><label>Name: </label> <input placeholder="Name" ng-model="contact.name" /></p>
    <p><label>Email: </label> <input placeholder="Email" ng-model="contact.email" /></p>
    <p>
        <button class="btn-primary" ng-click="update()">Update</button>
        <button class="btn-danger" ng-click="delete()">Delete</button>
    </p>
</section>